.jumbotron
  %h2= __("Welcome to Ensalutilo!")
  %p.lead
    = __("Phoenix is an Elixir Web Framework targeting full-featured, fault tolerant applications with realtime functionality.")
.row.marketing
  .col-lg-6
    %h4 Resources
    %ul
      %li
        %a{href: "http://hexdocs.pm/phoenix"}
          = __("Docs")
      %li
        %a{href: "https://github.com/phoenixframework/phoenix"}
          = __("Source")
  .col-lg-6
    %h4 Help
    %ul
      %li
        %a{href: "https://github.com/phoenixframework/phoenix/issues?state=open"}
          = __("Issues")
      %li
        %a{href: "irc://irc.freenode.net/elixir-lang"}
          = __("#elixir-lang on freenode IRC")
      %li
        %a{href: "https://twitter.com/chris_mccord"}
          = __("@chris_mccord")
